.container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  overflow-x: auto;
}

.link {
  text-align: center;
  margin-top: 0.5rem;

  a {
    color: #0070f3;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
