.title {
  margin: 0 {
    bottom: 10px;
  }
  line-height: 1.15;
  font-size: 4rem;
  letter-spacing: 0.1em;
  word-break: break-all;
}

.description {
  margin: 10px 0 20px;
}

.subSection {
  margin-bottom: 10px;
}

.subTitle {
  font-size: 2.5rem;
  margin: {
    bottom: 5px;
    top: 10px;
  }
}

.links {
  margin: 0;
  padding-left: 1.2rem;
  :not(:last-child) {
    margin-bottom: 0.2em;
  }
}
