name: deploy
on:
  workflow_run:
    workflows: [jest]
    branches: [main]
    types:
      - completed
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: yarn enable
        run: corepack enable
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Page Generate
        run: yarn build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: out
