name: jest
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v4
      - name: yarn enable
        run: corepack enable
      - name: yarn install
        run: yarn install
      - name: Run jest test
        run: yarn test --coverage
      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
